!!! 5
%html
  %head
    %title= "#{title} | Data.UChicago" 
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .page-header
      .user-panel
        - if current_user
          = "Welcome, #{current_user.username}"
          = link_to "Logout", destroy_user_session_path, :method => "delete"
        - else
          = link_to "Login", new_user_session_path

    .container-fluid
      .header
        = link_to "http://sg.uchicago.edu/" do 
          = image_tag "sg.jpg", :class => 'logo'
        = link_to root_path do
          %h1 Data.UChicago

      .content
        %h1= title
        
        .flashes
          - flash.each do |type, text|
            %div{"class" => "#{type} alert-message"}= text
        .row
          .span10.columns
            = yield
